<script src="config.js"></script>
<script src="/static/js/state.js"></script>
<script src="/static/js/utils.js"></script>
<script src="/static/js/panes.js"></script>
<script src="/static/js/readSelection.js"></script>
<script src="/static/js/alleleFilter.js"></script>
<script src="/static/js/manualVariants.js"></script>
<script src="/static/js/filters.js"></script>
<script src="/static/js/navigation.js"></script>
<script src="/static/js/trackClick.js"></script>
<script src="/static/js/tabs.js"></script>
<script src="/static/js/igv.js"></script>
<script src="/static/js/viewer.js"></script>
``
