{% extends "base.html" %}
{% block body %}
{% include "components/header.html" %}
<div class="main-container">
    {% include "components/left_pane.html" %}
    <div class="resizer" id="resizer"></div>
    {% include "components/right_pane.html" %}
</div>
{% include "components/data_embed.html" %}
{% include "components/scripts.html" %}
{% endblock %}

